* {
    font-family: Helvetica, Arial, sans-serif;
}

.heading {
    text-align: center;
    font-size: large;
    background-color: rgb(218, 218, 218);
}

.image {
    text-align: center;
}

.subheading,
.sub-subheading {
    text-indent: 2mm;
}

.subheading {
    background-color: rgb(218, 218, 218);
}
